
<div class = "gfg">
<img src="/assets/car_welcome.jpeg" alt="car_and_man" width=1519 height= 650 >
  <h3 class="welcome-txt">
    Best Car Dealer in Arizona
  </h3>
  <h4 class="welcome1-txt">
    Quality. Warranty. Success!
  </h4>
  <div class="login-box">
  <img src="/assets/login_person.jpg" class="avatar">
    <h1>Login Here</h1>
      <div>
      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password">
    <br>
      <input type="submit" name="submit" value='login'>
    <br>
      <a href="#"   >Forget Password</a>
      </div>

  </div>
</div>
